.adminBlock {

  &__heading {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    color: white;
  }

  &__children {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}